.DS_Store
.AppleDouble
.LSOverride

Icon\r

._*

.Spotlight-V100
.Trashes
*.swp

__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

env/
venv/
.venv/
pip-wheel-metadata/
*.log

.idea/
*.iml
workspace.xml
tasks.xml
usage.statistics.xml
datalore/
scratch/

.ipynb_checkpoints
*.ipynb

*.dockerignore
Dockerfile
docker-compose.yml

*.yaml

*.ini
*.conf

*.json
*.yml

*.log
*.sql
*.sqlite

.cache/
.coverage
nosetests.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
test-results/

node_modules/

swagger.yaml
*.html

.env
.env.local
.env.test
.env.*.local

*.h5
*.hdf5
*.onnx
*.pth
*.ckpt

*.tmp
*.temp
*.bak

*.csv
*.tsv
*.json
*.pdf
*.docx
*.xlsx